*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --orange-color: #df8b05;
  --light-orange-color2: #df8b0583;
  --milk-color: #fcfce4;
  --light-orange-color: #fad395;
  --white-color: #ffffff;
  --offred-color: #e45406;
  --black-color: #000000;
  --gray-color: #242424;
  --off-white-color: #c1973e;

  --font-sans: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --font-fun: 'Instrument Serif', Georgia, serif;
  --font-fam1: 'Montserrat', sans-serif;

  --container-width-lg: 80%;
  --container-width-md: 90%;

  --transition: all 500ms ease;
  --box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
}

body {
  scroll-behavior: smooth;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: var(--gray-color);
  line-height: 1.7;
  z-index: 0;
}

.container {
  width: var(--container-width-lg);
  max-width: 1920px;
  margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 4rem;
  font-family: var(--font-sans);
}
h2 {
  font-size: 2.75rem;
  /* font-weight: 700; */
  font-family: var(--font-sans);
}

h3 {
  color: var(--orange-color);
}

p {
  color: var(--white-color);
}

.p-gray {
  color: var(--gray-color);
}

.p-orange {
  color: var(--orange-color);
}

a {
  color: var(--purple-color);
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

.short__text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.whatsapp__float {
  position: fixed;
  bottom: 20%;
  right: 20px;
  background: #25d366;
  color: white;
  font-size: 28px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: all 0.3s ease;
}

.whatsapp__float:hover {
  transform: scale(1.1);
}
